<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
                <li class="list-group-item">Info 4</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail bbb">
                <img class="img-fluid" alt="Responsive image" src="https://diy.sndimg.com/content/dam/images/diy/fullset/2012/5/3/0/TS-78435998_squeegee-washing-windows_s4x3.jpg.rend.hgtvcom.1280.853.suffix/1420694825796.jpeg" width="100%">
                <div class="caption-full">
                    
                </div>
            </div>
            <div class="card-title">
                
                <!--<hr>-->
                
            </div>
        </div>
    </div>
</div>


<!-- <p>image url = ><span style="color: blue"><%= campground.image %></span><</p> -->





<% include ../partials/footer.ejs %>